<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Date of joining:</strong>
  <%= show_date(@employee.date_of_joining) %>
</p>

<p>
  <strong>Markuci email:</strong>
  <%= @employee.markuci_email %>
</p>

<p>
  <strong>Coupa email:</strong>
  <%= @employee.coupa_email %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @employee.skype_id %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @employee.contact_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>

<p>
  <strong>Employee status:</strong>
  <%= @employee.employee_status %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
